
@media (max-width: 991px) {
    #container {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color:rgba(0, 0, 0, 0.7)
    }
}

@media (min-width: 992px) {
    #container {
        height: 100%;
        width: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:rgba(0, 0, 0, 0.7)
    }
}

#btn {
    background-color: rgba(0, 0, 0, 0);
    color: #EDEDED;
    font-size: 18px;
    margin: 10px;
}