@import "~antd/dist/antd.css";

#box{
  height: 100%;
}


#content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

#topNav{
  position: absolute;
  z-index: 1;
}

#text-title{
  color: whitesmoke;
  font-size: x-large;
  font-weight: bold;

}

#text-carousel {
    color: whitesmoke;
    font-size: x-large;
    font-weight: bold;
}





